body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.content {
  flex: 1 1 auto;
  margin: 0;
  background-color: rgb(232, 235, 233);
}
.conteiner_main {
  max-width: 100%;
  margin: 0 auto;
}
.header {
  background-color: rgb(6, 6, 6);
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.imag1 {
  max-width: 350px;
}
.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 30px;
  letter-spacing: 5px;
}
.header__title {
  font-weight: 700;
  color: rgb(249, 243, 243);
  font-size: 80px;
}
.header__subtitle {
  color: rgb(219, 17, 17);
  font-size: 45px;
  font-style: italic;
}
.main__row {
  display: flex;
  margin-bottom: 50px;
  padding: 0 50px;
}
.main__flex-left {
  padding-top: 8px;
  line-height: 1.6;
}
.section {
  padding: 0 50px 0 20px;
}
.subtitle1 {
  font-size: 40px;
  line-height: 3;
}
.subtitle2 {
  font-size: 40px;
  padding: 30px 0;
}
.title1 {
  font-style: italic;
  font-size: 20px;
}
.link {
  color: rgb(209, 13, 43);
}

.footer {
  background-color: rgb(34, 31, 31);
}
.footer__flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.year {
  color: #fff;
}
.img1 {
  height: 100%;
}

@media (max-width: 610px) {
  .main__row {
    flex-wrap: wrap;
  }
  .imag1 {
    max-width: 50%;
  }
}
@media (max-width: 780px) {
  .header__title {
    font-size: 25px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .footer__text {
    font-size: 20px;
  }
}
